# table reading for flask

In [10]:
import pandas as pd

def show_tables():
    data = pd.read_excel('dummy_data.xlsx')
    data.set_index(['Name'], inplace=True)
    data.index.name=None
    females = data.loc[data.Gender=='f']
    males = data.loc[data.Gender=='m']
    #return render_template('view.html',
            #tables=[females.to_html(classes='female'), males.to_html(classes='male')],
            #titles = ['na', 'Female surfers', 'Male surfers'])
    
    print(females)

In [11]:
show_tables()

        Birth_Month  Origin  Age Gender
carly      january      UK    22      f
rachel        june   Spain    23      f
nicky         june      UK    33      f